body {
  font-family: 'Roboto';
  background: var(--color-white);
  max-width: 1600px;
}

:root {
  --color-black: #212121;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --bg-color: #2f303a;
  --bg-white-color: #f5f4fa;
  --bg-light-grey: #f5f4fa;
  --border-button: #ececec;
  --border-images: #eeeeee;
  --border-frames-clients: #afb1b8;
  --icons-fill-grey: #afb1b8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-discription {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-button);
  text-decoration: none;
  color: var(--color-black);
}

.nav-discription__nav-area {
  display: flex;
  align-items: center;
}

.main-logo {
  text-decoration: none;
  color: var(--color-black);
}

.main-logo__top-logo-one {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-logo__top-logo-two {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-black);
  margin-top: 0;
  margin-bottom: 0;
}

.nav-discription__site-navigation {
  display: flex;
  list-style: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
  padding-left: 0;
  gap: 46px;
}

.nav-discription__item-agency,
.nav-discription__item-portfolio,
.nav-discription__item-contact {
  text-decoration: none;
  color: var(--color-black);
}

.nav-discription__strip,
.nav-discription__item-portfolio,
.nav-discription__item-contact {
  text-decoration: none;
  color: var(--color-black);
}

.strip::after {
  position: relative;
  display: flex;
  content: '';
  height: 4px;
  width: 100%;
  top: 30px;
  background: var(--color-blue);
  border-radius: 2px;
}

.nav-discription__strip:hover,
.nav-discription__item-agency:hover,
.nav-discription__item-portfolio:hover,
.nav-discription__item-contact:hover,
.social-links:hover,
.nav-discription__social-item:hover,
.nav-discription__icon:hover,
.nav-discription__contact-us:hover,
.footer-nav__social-links:hover {
  color: var(--color-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  text-decoration: none;
  color: var(--color-black);
}

.nav-discription__contact-us {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0px;
  padding: 0px;
  margin-left: 271px;
  gap: 50px;
}

.nav-discription__social-item {
  color: var(--color-grey);
  text-decoration: none;
}

.nav-discription__icon {
  fill: currentColor;
  vertical-align: middle;
  margin-right: 10px;
}

.wrapper-main-studio-discription {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 452px 200px 452px;
  background-color: var(--bg-color);
  background-image: url('../images/images-studio/headermane-img.jpg'),
    linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%);
}

.main-studio-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0 auto;
}

.main-studio-text {
  max-width: 696px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  margin: 0 auto;
  margin-bottom: 30px;
}

.studio-button {
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-radius: 4px;
  background: var(--color-blue);
  cursor: pointer;
}

.studio-button__text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-white);
}

.advantages {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  gap: 30px;
}

.advantages__text-block {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.advantages__text-block-discription {
  max-width: 270px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.advantages__advantages-icon {
  border-radius: 4px;
  background-color: var(--bg-light-grey);
  cursor: pointer;
}

.advantages-item {
  padding: 25px 100px;
}

.our-clients__header,
.our-activities-wrapper__header,
.our-team__header {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.our-activities-wrapper {
  padding-bottom: 94px;
}

.our-activities-wrapper__header {
  margin-top: 0;
  margin-bottom: 50px;
}

.our-activities-images {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px;
  padding-top: 0px;
  gap: 30px;
}

.our-activities-images__img-position {
  position: relative;
  width: 370px;
}

.our-activities-images__text-wrapper {
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  background: rgba(47, 48, 58, 0.8);
}

.our-activities-images__text-position {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0;
  padding: 27px;
}

.our-team-area {
  max-width: 1600px;
  background: var(--bg-white-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-team__header {
  margin: 0;
  margin-bottom: 50px;
}

.our-team {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  gap: 30px;
}

.our-team__img-discription {
  max-width: 270px;
  height: 260px;
}

.our-team__border {
  text-align: center;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__employee-name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-black);
  margin: 0;
  padding-top: 30px;
}

.our-team__employee-position {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  margin-top: 10px;
  margin-bottom: 0;
}

.our-team__social-box {
  display: flex;
  list-style: none;
  fill: var(--icons-fill-grey);
  padding: 16px 32px 18px 32px;
  gap: 10px;
}

.our-team__icon {
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__icon:hover {
  border-radius: 50%;
  background-color: var(--color-blue);
  fill: var(--color-white);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon:active {
  border-radius: 50%;
  background-color: var(--color-blue);
  fill: var(--color-white);
}

.our-team__social-link {
  fill: var(--icons-fill-grey);
}

.our-team__social-link:focus .our-team__icon,
.footer-social-media__link:focus .footer-social-media__icon {
  border-radius: 50%;
  fill: var(--color-white);
  background-color: var(--color-blue);
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients {
  margin: 0;
  margin-bottom: 50px;
}

.our-clients__list-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 auto;
  padding: 0px;
}

.our-clients__icon {
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-frames-clients);
  border-radius: 4px;
  fill: var(--icons-fill-grey);
}

.our-clients__icon:hover {
  fill: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrapper {
  max-width: 1600px;
  background-color: var(--bg-color);
}

.footer-discription {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.footer-logo {
  text-decoration: none;
}

.footer-logo__logo-one {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
}

.footer-logo__logo-two {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-white);
  text-decoration: none;
}

.footer-nav {
  list-style: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  gap: 9px;
  padding-left: 0;
}

.footer-nav__social-links {
  text-decoration: none;
  color: var(--color-grey);
}

.footer-social-media {
  margin-left: 70px;
  padding-top: 72px;
}

.footer-social-media__header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer-social-media__list-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.footer-social-media__icon {
  border-radius: 50%;
  fill: var(--color-white);
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.footer-social-media__icon:hover {
  background-color: var(--color-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer-form-start*/

.footer-form {
  display: inline-block;
  padding-top: 72px;
  padding-left: 150px;
  padding-bottom: 94px;
}

.footer-form__label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-form__input-discription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--bg-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.footer-form__button {
  width: 200px;
  display: flex;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin: 0;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 24px;
}

/*footer-form-end*/

/*portfolio-discription-start*/

.portfolio-buttons-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 50px;
  gap: 8px;
}

.portfolio-buttons-area__button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background: var(--bg-white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
}

.portfolio-buttons-area__button:focus,
.portfolio-buttons-area__button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 0;
  padding: 0;
  padding-bottom: 94px;
  gap: 30px;
}

.portfolio-projects__images-shadow:hover {
  border: 0px solid var(--border-images);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__project-name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-black);
  margin-top: 0px;
  margin-left: 24px;
  margin-bottom: 4px;
  padding-top: 20px;
}

.portfolio-projects__project-discription {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 24px;
}

.portfolio-projects__image {
  vertical-align: middle;
  background: var(--color-white);
  border-top: 1px solid var(--border-images);
  border-right: 1px solid var(--border-images);
  border-left: 1px solid var(--border-images);
}

.portfolio-projects__border {
  background: var(--color-white);
  border-left: 1px solid var(--border-images);
  border-bottom: 1px solid var(--border-images);
  border-right: 1px solid var(--border-images);
}

.portfolio-projects__box-overlay {
  position: relative;
  overflow: hidden;
  font-size: 0;
}

.portfolio-projects__item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(+100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__box-overlay:focus .portfolio-projects__item-overlay,
.portfolio-projects__box-overlay:hover .portfolio-projects__item-overlay {
  transform: translateX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__images-shadow .portfolio-projects__item-overlay {
  transform: translateY(+100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__images-shadow:focus .portfolio-projects__item-overlay,
.portfolio-projects__images-shadow:hover .portfolio-projects__item-overlay {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__text-overlay {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin: 0;
  padding: 49px 45px 49px 24px;
}

/*portfolio-discription-end*/

/*modal-start*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
}

.close-btn-discription {
  position: absolute;
  top: 6px;
  left: 5px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--color-white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  padding: 40px 40px 0 40px;
  margin: 0;
  margin-bottom: 30px;
}

.modal__form-wrapper {
  padding: 0 42px 94px 40px;
}

.modal__form-items {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
}

.modal__input:focus,
.modal__textarea:focus {
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  outline: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-blue);
}

.modal__input:focus + svg {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input,
.modal__textarea {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal__label {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-grey);
}

.modal__textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal__textarea::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  position: absolute;
  top: 12;
  left: 16;
}

.modal__button {
  width: 200px;
  height: 50px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--color-blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-white);
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}

.modal-agreements__input[type='checkbox'] {
  width: 15px;
  height: 14px;
  background-color: var(--color-white);
  appearance: none;
  border: 0.1px solid var(--color-black);
  border-radius: 4px;
  margin: 0;
  margin-right: 7px;
}

.modal-agreements__privacy {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  margin: 0 auto;
  margin-right: 14px;
  margin-left: 14px;
  margin-bottom: 40px;
}

.modal-agreements__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-agreements__input[type='checkbox']:checked + svg {
  opacity: 1;
}

.modal-agreements__link {
  color: var(--color-blue);
}

.modal-agreements__text {
  margin: 0;
  padding: 0;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*modal-end*/
